* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background: url(../asset/background.png);
}

.tarot-card {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

img {
    width: 170px;
    height: 255px;
}