* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background : url('../asset/background.jpg');
    background-size: cover;
}

.start {
    position: absolute;
    color: white;
    font-family: "KCCChassam";
    font-size: 50px;
    text-align: center;
    margin-top: 18%;
    margin-left: 37%;
}

a, a:active, a:visited, a:link {
    font-family: "KCCChassam";
    background-color: rgb(98, 113, 224);
    width: 200px;
    height: 50px;
    font-size: 23px;
    color: white;
    border:none;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
